<div class="profile linkedin modal fade" id="linkedin-profile">
  <div class="profile-info">
    <button class="close" data-dismiss="modal">×</button>
    <a href="{{ publicProfileUrl }}" class="profile-avatar">
      <img src="{{ pictureUrl }}" alt="{{ firstName }} {{ lastName }}" />
    </a>
    <div class="profile-name">
      <h2><a href="{{ publicProfileUrl }}">{{ firstName }} {{ lastName }}</a></h2>
      <h4><a href="{{ publicProfileUrl }}">{{ headline}}</a></h2>
    </div>
   <p class="profile-location-url">
       {{#if location }}
           {{#with location }}
                <span><a href="http://maps.google.com?q={{ name }},{{ country }}">{{ name }}<br/>{{ country }}</a></span>
                <span class="divider">·</span>
           {{/with }}
        {{/if}}
    </p>
  </div> 
  <ul class="profile-stats">
    <li><span><strong>{{ numConnections }}</strong>Connections</span></li>
    <li><span><strong>{{ numRecommenders }}</strong>Recomendations</span></li>

    {{#with groupMemberships}}
    <li><span><strong>{{ _count }}</strong>Groups</span></li>
    {{/with}}
  </ul>
</div>
